<link rel="icon" type="image/x-icon"
    href="/pkg/img/favicon.ico?v=((crate::https::cache_buster::get_cache_buster_key()))" />
<link rel="icon" type="image/png" sizes="32x32"
    href="/pkg/img/favicon.png?v=((crate::https::cache_buster::get_cache_buster_key()))" />
<link rel="apple-touch-icon" sizes="180x180"
    href="/pkg/img/logo-180.png?v=((crate::https::cache_buster::get_cache_buster_key()))" />
<link rel="icon" type="image/png" sizes="192x192"
    href="/pkg/img/logo-192.png?v=((crate::https::cache_buster::get_cache_buster_key()))" />
<link rel="icon" type="image/png" sizes="512x512"
    href="/pkg/img/logo-512.png?v=((crate::https::cache_buster::get_cache_buster_key()))" />
<meta name="theme-color" content="#0D1A30">
