(% extends "login_base.html" %)

(% block logincontainer %)
<div class="justify-content-center"
     data-guide-state="protect"
     data-guide-action="webauthn">
    (% if passkey %)
    <form
        id="cred-form"
        action="/ui/login/passkey"
        method="POST"
        data-challenge="(( challenge ))"
        >
        <input hidden="hidden" name="cred" id="cred">
        <button hx-disable
                type="button"
                autofocus
                class="btn btn-primary"
                id="start-passkey-button"
                data-guide-target="primary-action">Use Passkey</button>
    </form>
    (% else %)
    <form id="cred-form" action="/ui/login/seckey" method="POST">
        <input hidden="hidden" name="cred" id="cred">
        <button hx-disable
                type="button"
                autofocus
                class="btn btn-primary"
                id="start-seckey-button"
                data-guide-target="primary-action">Use Security Key</button>
    </form>
    (% endif %)
</div>

(% endblock %)